{{#if model}}
  {{#-bs/row}}
    {{#-bs/col}}
      <div class="float-left">
        <h3 class="display-4">{{ model.name }}</h3>
        <h4 class="text-primary">{{ model._meta.label }}</h4>
      </div>
      <div class="float-right">
        <h5 class="text-info mb-0" {{ action "openRangeSelector" }}>
          {{moment-format startDate 'MM/DD/YYYY'}} - {{moment-format endDate 'MM/DD/YYYY'}}
          {{-ion "android-calendar" class="ml-1"}}
        </h5>
      </div>
    {{/-bs/col}}
  {{/-bs/row}}
  <hr>
  {{#-bs/row}}
    {{#-bs/col}}

      <div class="card">
        <div class="card-header h6">Visits</div>
        <div class="card-block">
          {{#segment-report
            segmentId=model._id
            segmentType=model._meta.type
            reportType="session-counts" as |report|
          }}

            <div class="row">
              <div class="col">
                <div class="card-deck">

                  <div class="card mb-4">
                    <div class="card-block">
                      <p class="mb-0"><span class="h2">{{ format-number report.data.0.identified format="0,0" }}</span><br><span class="text-info">Identified</span></p>
                    </div>
                  </div>

                  <div class="card mb-4">
                    <div class="card-block">
                      <p class="mb-0"><span class="h2">{{ format-number report.data.0.anonymous format="0,0" }}</span><br><span class="text-info">Anonymous</span></p>
                    </div>
                  </div>

                  <div class="card mb-4">
                    <div class="card-block">
                      <p class="mb-0"><span class="h2">{{ format-number report.data.0.total format="0,0" }}</span><br><span class="text-info">Total</span></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 mb-4 mb-lg-0">
                {{segment-report/session-counts-pie data=report.data}}
              </div>
              <div class="col-lg-8 mb-4 mb-lg-0">
                {{#segment-report
                  segmentId=model._id
                  segmentType=model._meta.type
                  reportType="session-timeline" as |report|
                }}
                  {{segment-report/session-timeline-area data=report.data}}
                {{/segment-report}}
              </div>
            </div>
          {{/segment-report}}
        </div>
      </div>

    {{/-bs/col}}
  {{/-bs/row}}

  {{#-bs/modal show=isDateRangeOpen as |modal|}}
    {{modal.header title="Select Date Range"}}
    {{#modal.body}}
      {{#power-calendar-range
        center=center
        selected=dateRange
        onCenterChange=(action (mut center) value="date")
        onSelect=(action (mut dateRange) value="moment") as |calendar|}}
        {{calendar.nav}}
        {{calendar.days}}
      {{/power-calendar-range}}
    {{/modal.body}}
  {{/-bs/modal}}
{{else}}
  {{#-bs/alert "warning" dismissible=false}}
    <h4 class="alert-heading">{{-ion "alert-circled"}} Segment Troubles</h4>
    <p class="mb-0">We're sorry, we were unable to retrieve a segment for the requested URL.</p>
  {{/-bs/alert}}
{{/if}}
